<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Curso</title>
    <link rel="stylesheet" th:href="@{/style.css}">
    <nav class="navbar-container">
        <ul class="list-style">
            <li class="list-style2">
                <a class="link-style" target="_blank" href="/aluno">ALUNO</a>
            </li>
            <li class="list-style2">
                <a class="link-style" href="/curso">CURSO
                </a>
            </li>
            <li class="list-style2">
                <a class="link-style" href="/disciplina">DISCIPLINA
                </a>
            </li>
            <li class="list-style2">
                <a class="link-style" href="/turma">TURMA
                </a>
            </li>
        </ul>
    </nav>
    <form id="my-form" th:action="@{curso}" th:object="${cursoDTO}" method="post">

        <label>NOME
            <input id="field-text" th:field="*{name}" class="cursoDTO" type="text">
        </label>
        <label>HORAS
            <input id="field-text2" th:field="*{totalGrade}" class="cursoDTO" type="text">
        </label>

        <button type="submit">Cadastrar</button>
    </form>
</head>
<body>
    <div class="">
        <table class="">
            <thead>
            <tr>
                <th>ID</th>
                <th>Nome</th>
                <th>Horas</th>
                <th>Alterar</th>
                <th>Excluir</th>
            </tr>
            </thead>

            <tbody>
            <tr th:each="curso : ${listaCursos}">
                <td th:text="${curso.id}"></td>
                <td th:text="${curso.nome}"></td>
                <td align="center">
                    <a th:href="@{/updateCurso/{id}(id=${aluno.id})">Atualizar</a>
                    <a th:href="@{/deleteCurso/{id}(id=${aluno.id})">Deletar</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</body>
</html>